*{
    font-family: Georgia, Times, 'Times New Roman', serif;
}


#back {
    background: rgba(173, 216, 230, 0.909);

    width: 400px;
    border-radius: 20px;
    padding: 30px 10px;
    box-shadow: -6px -6px 10px rgba(136, 30, 186, 0.361), 5px 6px 15px rgba(0, 0, 0, 0.361),0px 0px 10px black inset;
    margin-top: 10px;
   
   
}

body {
    background: linear-gradient(to right, red, yellow, green);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    transition: 2s;
   
}

img {
    width: 400px;
    height: 350px;
    
}
#num {
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0px 20px;
    margin-right: 30px;
    text-align: center;
    box-shadow: -8px -6px 10px rgba(123, 233, 239, 0.361), 8px 8px 15px rgba(0, 0, 0, 0.465),0px 0px 15px #23312e inset;
    border: 1px solid rgb(9, 177, 255);
    background: rgba(240, 248, 255, 0.419);
}
button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -8px -6px 10px rgba(9, 0, 14, 0.498), 5px 6px 15px rgba(0, 0, 0, 0.465);
    border: 0;
    background: linear-gradient(to right, rgb(76, 14, 184), rgb(124, 0, 99), rgb(203, 113, 10));
}
a:hover,button:hover{
    background: linear-gradient(to right,  rgb(203, 10, 10), rgb(255, 255, 0),rgb(0, 255, 4));
    color: navy;
    text-shadow: 0px 0px 10px purple;

}
a {
    width: 100px;
    background: linear-gradient(to right, rgb(76, 14, 184), rgb(124, 0, 99), rgb(203, 113, 10));
    padding: 9px 25px;
    border-radius: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: -8px -6px 10px rgba(9, 0, 14, 0.498), 8px 6px 15px rgba(9, 0, 14, 0.465);
}
#res {
    background: transparent;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    padding: 10px 10px;
    box-shadow: -6px -6px 10px rgba(136, 30, 186, 0.361), 5px 6px 15px rgba(0, 0, 0, 0.361),0px 0px 15px black inset;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(56, 0, 124);
    line-height: 33px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.36);
    overflow:auto;
}
p {
    font-weight: bold;
    font-size: 18px;
    color: rgb(79, 0, 71);
}

